.rare {
	background-color: #F5F1EA;
	padding: 135px 0px;
	@media (max-width: 991px) {
		padding: 70px 0px;
	}
}

.rare-wrapper {
	padding: 90px 0px 40px 0px;
	background: linear-gradient(0.25turn, transparent 20%, #F0E8D9 20%, #F0E8D9 90%, transparent 90%);

	@media (max-width: 991px) {
		padding: 40px 0px;
	}
}

.rare__title {
	font-style: normal;
	font-weight: 300;
	font-size: 64px;
	line-height: 73px;
	color: #C58F59;
}
.rare__subtitle {
	display: block;
	font-weight: 600;
	font-size: 36px;
	line-height: 43px;
	color: #000000;
}
