$mainColor: #C58F59;


@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Regular.eot');
	src: local('Gilroy Regular'), local('Gilroy-Regular'),
	url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gilroy-Regular.woff') format('woff'),
	url('../fonts/Gilroy-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Bold.eot');
	src: local('Gilroy Bold'), local('Gilroy-Bold'),
	url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gilroy-Bold.woff') format('woff'),
	url('../fonts/Gilroy-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
	url('../fonts/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gilroy-Black.woff') format('woff'),
	url('../fonts/Gilroy-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Honey ScriptCYR';
	src: url('../fonts/19539.otf');
	font-weight: normal;
	font-style: normal;
}


body {
	font-family: "Gilroy", sans-serif;
	font-style: normal;
	font-weight: normal;
	background-color: #fff;
}

.font-script {
	font-family: 'Honey ScriptCYR';
}

p {
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
}

.area__subtitle {
	font-style: normal;
	font-weight: 300;
	font-size: 48px;
	line-height: 55px;
	color: #C58F59;
}
.area__title {
	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 58px;
	color: #000000;
	@media (max-width: 991px) {
		font-size: 34px;
		line-height: 110%;
	}
}

.h2 {
	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	color: #000000;
}
a.h2 {
	border-bottom: 2px solid transparent;
	transition: 0.3s;
	&:hover {
		color: $mainColor;
		text-decoration: none;
		border-bottom: 2px solid $mainColor;
		transition: 0.3s;
	}
}
