.category__check {
	display: block;

	position: relative;
	z-index: 2;

	cursor: pointer;
	svg {
		margin-right: 15px;
		path {
			fill: $mainColor;
		}
	}
	input {
		display: none;
	}
	span {
		font-family: Gilroy;
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		line-height: 29px;
		color: $mainColor;

		border: 2px solid $mainColor;
		border-radius: 20px;
		display: block;
		padding: 10px 10px;
		width: 100%;

		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
	}
	input:checked + span  {
		color: #fff;
		&:before {
			content: "";
			position: absolute;
			z-index: -1;
			background: $mainColor;
			width: 100%;
			height: 100%;
			border-radius: 20px;
			left: 0px;
			top: 0px;
		}
		svg {
			path {
				fill: #fff;
			}
		}
	}
}

button[type=submit] {
	height: unset;
	border: 0px;
	background: none;

	border-radius: 0px;
	border: 2px solid $mainColor;

	padding: 26px 34px;

	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	color: $mainColor;

	transition: 0.3s;

	&:hover {
		text-decoration: none;
		background: $mainColor;
		color: #fff;
		transition: 0.3s;
	}
}

.input[type=text], select {
	border: 0px;
	background: #F9F9F9;
	border-radius: 15px;
	padding: 20px 25px;

	font-family: Gilroy;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 21px;
	color: #A6A6A6;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
}
select.minimal {
	background-image:
		linear-gradient(45deg, transparent 50%, #C4C4C4 50%),
		linear-gradient(135deg, #C4C4C4 50%, transparent 50%);
	background-position:
		calc(100% - 40px) calc(50%),
		calc(100% - 30px) calc(50%);
	background-size:
		10px 10px,
		10px 10px;
	background-repeat: no-repeat;
}

select.minimal:focus {
	background-image:
		linear-gradient(45deg, #C4C4C4 50%, transparent 50%),
		linear-gradient(135deg, transparent 50%, #C4C4C4 50%);
	background-position:
		calc(100% - 30px) calc(50%),
		calc(100% - 40px) calc(50%);
	background-size:
		10px 10px,
		10px 10px;
	background-repeat: no-repeat;
	outline: 0;
}


select:-moz-focusring {
	color: transparent;
	text-shadow: 0 0 0 #000;
}
