.offer-area {
	background-color: #000;
	padding: 80px 0px 180px 0px;

	.icon-box {
		padding: 0px;
		h2 {
			font-family: "Honey ScriptCYR";
			font-style: normal;
			font-weight: 300;
			font-size: 48px;
			line-height: 55px;
			color: $mainColor;
		}
		img {
			max-width: 48px;
			height: unset;
		}
	}

	@media (max-width: 991px) {
		padding: 50px 0px;
	}
}
