.btn {
	border: 0px;
	background: none;

	border-radius: 0px;
	border: 2px solid $mainColor;

	padding: 26px 34px;

	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	color: $mainColor;

	transition: 0.3s;

	&:hover {
		text-decoration: none;
		background: $mainColor;
		color: #fff;
		transition: 0.3s;
	}
}
.btn-slider {
	span {
		font-family: Gilroy!important;
		font-style: normal!important;
		font-weight: normal!important;
		font-size: 18px!important;
		line-height: 21px!important;
		color: #FFFFFF!important;
	}
}
