.card-item {
	h1 {
		font-family: Gilroy;
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		line-height: 29px;
		color: #000000;

		margin-bottom: 14px;
	}
	.week-area__item {
		height: unset;
	}
}

.card-item__description {
	ul {
		padding: 0px;
		margin-bottom: 26px;
		li {
			list-style: none;
			padding-bottom: 19px;
			margin: 0px;

			font-family: Gilroy;
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 21px;
			color: #000000;

			&:last-child {
				padding: 0px;
			}
		}
	}
}

.card-item__price {
	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 44px;
	color: $mainColor;
}

.count {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	max-width: 100px;
	.count__minus, .count__plus {
		background: $mainColor;

		display: flex;
		justify-content: center;
		align-items: center;

		border-radius: 100%;

		width: 35px;
		height: 35px;

		font-family: Gilroy;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 22px;
		color: #FFFFFF;

		cursor: pointer;
	}
	input[type="text"] {
		width: unset;
		max-width: 30px;
		height: unset;

		font-family: Gilroy;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 22px;
		color: #000000;

		padding: 0px;
		border: 0px;

		text-align: center;
	}
}

.card-item__sidbar {
	background: #FFFFFF;
	border: 1px solid #E5E5E5;
	box-sizing: border-box;
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
	height: 100%;

	padding: 17px;
}


#cardTabContent {
	border-top: 3px solid $mainColor;
}

.nav-tabs .nav-link {
	padding: 25px;

	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #A4A4A4;
	border: 0px;
	&:hover {
		border: 0px;
	}
	&.active {
		border: 0px;
		color: #000000;
	}
}
.week-area__item-title {
	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
}
