.breadcrumb-area {
	background-image: url("../images/breadcrumb.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

	margin-bottom: 100px;

	h1 {
		font-family: Gilroy!important;
		font-style: normal!important;
		font-weight: bold!important;
		font-size: 36px!important;
		line-height: 44px!important;
		color: #FFFFFF!important;
		margin-bottom: 23px!important;
	}
	.breadcrumb {
		background: none;
		border-radius: 0px;
		padding: 0px;
		.breadcrumb-item {
			font-family: Gilroy;
			font-style: normal;
			font-weight: bold;
			font-size: 14px;
			line-height: 17px;
			color: #FFFFFF;
			a {
				font-family: Gilroy;
				font-style: normal;
				font-weight: bold;
				font-size: 14px;
				line-height: 17px;
				color: #FFFFFF;
			}
		}
	}
}
.breadcrumb-item+.breadcrumb-item::before {
	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	color: #FFFFFF;
}
