div(class="breadcrumb-area")
	<div class="page-header breadcrumb-area" data-stellar-background-ratio="0.8">
		<div class="container">
			div(class="row")
				div(class="col-12")
					h1()
						= breadcrumbTitle
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="#">Главная</a></li>
							<li class="breadcrumb-item"><a href="#">Каталог</a></li>
							<li class="breadcrumb-item active" aria-current="page">Крабы</li>
						</ol>
					</nav>
		</div>
	</div>
