<section class="content-section category-area">
	<div class="container-fluid">
		div(class="row pb-5")
			div(class="col-12 d-flex flex-column align-items-center")
				span(class="area__subtitle font-script")
					| уникальное предложение
				h2(class="area__title text-center")
					| Категории продукции
				<figure data-swiper-parallax="200">
					<img class="lazyload" data-src="images/crab.png" alt="Image" class="title-shape">
				</figure>
		<div class="row justify-content-center">
			<div class="col-12 col-lg-6 col-xl-3 wow fadeIn">
				<a class="menu-pack-box" href="#">
					<figure>
						<img class="lazyload w-100" data-src="images/category1.jpg" alt="Image">
					</figure>
					<div class="content">
						<h2>КРАБЫ</h2>
					</div>
				</a>
			</div>
			
			<div class="col-12 col-lg-6 col-xl-3 wow fadeIn" data-wow-delay="0.15s">
				<a class="menu-pack-box" href="#">
					<figure>
						<img class="lazyload w-100" data-src="images/category2.jpg" alt="Image">
					</figure>
					<div class="content">
						<h2>КРЕВЕТКИ</h2>
					</div>
				</a>
			</div>
			
			<div class="col-12 col-lg-6 col-xl-3 wow fadeIn" data-wow-delay="0.30s">
				<a class="menu-pack-box" href="#">
					<figure>
						<img class="lazyload w-100" data-src="images/category3.jpg" alt="Image">
					</figure>
					<div class="content">
						<h2>ГРЕБЕШКИ</h2>
					</div>
				</a>
			</div>
			
			<div class="col-12 col-lg-6 col-xl-3 wow fadeIn" data-wow-delay="0.45s">
				<a class="menu-pack-box" href="#">
					<figure>
						<img class="lazyload w-100" data-src="images/category4.jpg" alt="Image">
					</figure>
					<div class="content">
						<h2>МИДИИ</h2>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>
