footer(class="footer")
	<div class="container ">
		<div class="row">
			<div class="col-12 col-lg-3 wow fadeIn pb-5 pb-lg-0">
				<div class="logo">
					<a href="#">Креветка Джо</a>
				</div>
			</div>
			<div class="col-lg-3 col-6 wow fadeIn" data-wow-delay="0.15s">
				<ul>
					<li><a href="#">Крабы</a></li>
					<li><a href="#">Креветки</a></li>
					<li><a href="#">Гребешок</a></li>
					<li><a href="#">Мидии</a></li>
				</ul>
			</div>
			<div class="col-lg-3 col-6 wow fadeIn" data-wow-delay="0.30s">
				<ul>
					<li><a href="#">О компании</a></li>
					<li><a href="#">Доставка и оплата</a></li>
					<li><a href="#">Оптовым покупателям</a></li>
					<li><a href="#">Контакты</a></li>
				</ul>
			</div>
			div(class="col-6 col-lg-3 wow fadeIn pt-5 pt-lg-0" data-wow-delay="0.45s")
				div(class="pb-2")
					a(href="tel:+74951234567" class="phone")
						| +7 495 123-45-67
				include social-area.pug
			<div class="col-12 wow fadeIn">
				<div class="footer-bottom d-flex flex-column flex-lg-row align-items-center justify-content-between">
					<span>2020 - креветка Джо</span>
					a(href="https://deksis.ru" class="deksis mt-3 mb-lg-0")
						| Разработка и поддержка сайта
				</div>
			</div>
		</div>
	</div>
