<div class="search-box">
	<div class="inner">
		<form>
			<input type="search" placeholder="Введите что нужно найти">
			<input type="submit" value="Поиск">
		</form>
	</div>
</div>
<aside class="side-widget">
	<div class="inner">
		<div class="logo">
			<a href="#">Креветка Джо</a>
		</div>
		<div class="show-mobile">
			<div class="site-menu">
				<ul>
					<li><a href="#">Главная</a></li>
					<li><a href="#">Каталог</a></li>
					<li><a href="#">О компании</a></li>
					<li><a href="#">Доставка и оплата</a></li>
					<li><a href="#">Контакты</a></li>
					<li class="pt-4">
						a(href="tel:+74951234567" class="phone")
							| +7 495 123-45-67
					</li>
				</ul>
			</div>
		</div>
		<small>© 2020 Креветка Джо</small> 
	</div>
</aside>
<nav class="navbar">
	<div class="logo">
		<a href="#">Креветка Джо</a>
	</div>
	<div class="custom-menu">
		a(href="tel:+74951234567" class="phone")
			| +7 495 123-45-67
	</div>
	<div class="site-menu">
		<ul>
			<li><a href="#">Главная</a></li>
			<li><a href="#">Каталог</a></li>
			<li><a href="#">О компании</a></li>
			<li><a href="#">Доставка и оплата</a></li>
			<li><a href="#">Контакты</a></li>
		</ul>
	</div>
	<div class="search">
		<i class="lni lni-search-alt"></i>
	</div>
	<div class="hamburger">
		<div id="hamburger">
			<span></span>
			<span></span>
			<span></span>
		</div>
		<div id="cross">
			<span></span>
			<span></span>
		</div>
	</div>
	<a href="#" class="navbar-button cart-mini"><img class="lazyload" data-src="images/cart.png" alt="Image"> </a> 
</nav>
