<section class="content-section bg-contain offer-area">
	<div class="container">
		<div class="row justify-content-center pb-5">
			div(class="col-12 d-flex flex-column align-items-center wow fadeIn")
				span(class="area__subtitle font-script")
					| уникальное предложение
				h2(class="area__title text-center text-white")
					| Почему мы?
				<figure data-swiper-parallax="200">
					<img class="lazyload" data-src="images/crab.png" alt="Image" class="title-shape">
				</figure>
		</div>
		<div class="row ">
			div(class="col-12 col-lg-10 offset-lg-1")
				div(class="row justify-content-center")
					<div class="col-lg-4 col-md-4 wow fadeIn">
						<div class="icon-box">
						<figure>
							<img class="lazyload" data-src="images/seafood 1.png" alt="Image">
						</figure>
						<h2>Гарантия свежести</h2>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 wow fadeIn" data-wow-delay="0.15s">
						<div class="icon-box">
							<figure>
								<img class="lazyload" data-src="images/seafood 1.png" alt="Image">
							</figure>
							<h2>Гарантия свежести</h2>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 wow fadeIn" data-wow-delay="0.30s">
						<div class="icon-box">
							<figure>
								<img class="lazyload" data-src="images/seafood 1.png" alt="Image">
							</figure>
							<h2>Гарантия свежести</h2>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="col-lg-4 col-md-4 wow fadeIn">
						<div class="icon-box">
							<figure>
								<img class="lazyload" data-src="images/seafood 1.png" alt="Image">
							</figure>
							<h2>Гарантия свежести</h2>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 wow fadeIn" data-wow-delay="0.15s">
						<div class="icon-box">
							<figure>
								<img class="lazyload" data-src="images/seafood 1.png" alt="Image">
							</figure>
							<h2>Гарантия свежести</h2>
						</div>
					</div>
		</div>
	</div>
</section>
