div(class="rare")
	div(class="container")
		div(class="row")
			div(class="col-12")
				div(class="rare-wrapper")
					div(class="row")
						div(class="col-12 col-lg-5")
							h2(class="font-script rare__title mb-3")
								| Креветка джо
							span(class="rare__subtitle mb-5")
								| Морские деликатесы<br>у вас на столе
							p(class="rare__description mb-5")
								| Прямые поставки рыбы с северных морей и дальнего востока. Вся продукция перевозится в специальном охлаждающем оборудовании. Еще вчера рыба плавала в водах Дальнего Востока, сегодня она у нас, а завтра может быть на вашем столе.
							div()
								a(class="btn" href="#")
									| О КОМПАНИИ
						div(class="col-12 col-lg-7")
							img(class="lazyload img-fluid" data-src="images/3541.png" alt="img")
					
