div(class="week-area" )
	div(class="container")
		div(class="row pb-5")
			div(class="col-12 d-flex flex-column align-items-center wow fadeIn")
				span(class="area__subtitle font-script")
					| уникальное предложение
				h2(class="area__title text-center")
					| Рецепты недели
				<figure data-swiper-parallax="200">
					<img class="lazyload" data-src="images/crab.png" alt="Image" class="title-shape">
				</figure>
		div(class="row")
			div(class="col-12 col-lg-4 pb-5 pb-lg-0")
				a(class="week-area__item wow fadeIn" data-wow-delay="0s" href="#")
					div(class="week-area__preview")
						img(class="lazyload" data-src="images/week1.jpg" alt="img")
					span(class="week-area__date")
						| 17 июля 2020
					p
						| Мидии в сливочном соусе по аджарски с добавлением красного соуса
			div(class="col-12 col-lg-4 pb-5 pb-lg-0")
				a(class="week-area__item wow fadeIn" data-wow-delay="0.30s" href="#")
					div(class="week-area__preview")
						img(class="lazyload" data-src="images/week2.jpg" alt="img")
					span(class="week-area__date")
						| 12 июля 2020
					p
						| Креветки в собственном соку из лимона и черного перца с добавлением зелени и еще чего-нибудь
			div(class="col-12 col-lg-4")
				a(class="week-area__item wow fadeIn" data-wow-delay="0.45s" href="#")
					div(class="week-area__preview")
						img(class="lazyload" data-src="images/week3.jpg" alt="img")
					span(class="week-area__date")
						| 17 июля 2020
					p
						| Как правильно готовить креветок.
