.footer {
	display: flex;
	flex-wrap: nowrap;
	align-items: flex-end;

	background-image: url("../images/footer-bg.jpg");

	padding: 52px 0 0 0px;
	min-height: 352px;
	.footer-bottom {
		border-top: 1px solid #fff;
		padding: 25px 0px;
		margin-top: 70px;
		@media (max-width: 991px) {
			margin-top: 50px;
		}
	}
	ul {
		li {
			padding: 0px;
			margin-bottom: 15px;
			a {
				font-family: Gilroy;
				font-style: normal;
				font-weight: 300;
				font-size: 18px;
				line-height: 21px;
				color: #FFFFFF;
			}
			&:last-child {
				margin: 0px;
			}
		}
	}
}

.deksis {
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #FFFFFF;
	&:hover {
		text-decoration: none;
		color: #fff;
	}
}
