doctype html
html(lang="ru")
	head
		meta(charset = 'utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		link(rel="stylesheet" href="css/main.min.css")

		link(rel="apple-touch-icon" href="images/apple-touch-icon-144-precomposed.png" sizes="144x144")
		link(rel="apple-touch-icon" href="images/apple-touch-icon-114-precomposed.png" sizes="114x114")
		link(rel="apple-touch-icon" href="images/apple-touch-icon-72-precomposed.png" sizes="72x72")
		link(rel="apple-touch-icon" href="images/apple-touch-icon-57-precomposed.png")
		link(rel="shortcut icon" href="images/favicon.png")
			
		title РыбаСПБ
	body
		<div class="first-transition"></div>
		<div class="page-transition"></div>
		include components/header-area.pug
		block content
		include components/footer-area.pug
		script(src="js/main.min.js")
