extends base.pug
block content
	- breadcrumbTitle = "Живой камчатский краб";
	include components/breadcrumb-area.pug
	div(class="basket")
		div(class="container")
			div(class="row pb-5")
				div(class="col-12")
					div(class="basket__item d-none d-lg-block")
						div(class="row")
							div(class="col-12 col-lg-1")
							div(class="col-12 col-lg-2 ")
								span(class="basket__section")
									| Продукт
							div(class="col-12 col-lg-3")
							div(class="col-12 col-lg-2 ")
								span(class="basket__section")
									| Цена
							div(class="col-12 col-lg-2 ")
								span(class="basket__section")
									| Количество
							div(class="col-12 col-lg-2 ")
								span(class="basket__section")
									| Всего
					- for (var i = 0; i < 3; i++)
						div(class="basket__item")
							div(class="row")
								div(class="col-12 col-lg-1 d-flex align-items-center")
									div(class="basket__delete")
										<svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
											<line x1="2.28148" y1="3.00146" x2="10.7668" y2="11.4867" stroke="#C58F59" stroke-width="3" stroke-linecap="round"/>
											<line x1="10.6064" y1="3.12132" x2="2.12116" y2="11.6066" stroke="#C58F59" stroke-width="3" stroke-linecap="round"/>
										</svg>
								div(class="col-12 col-lg-2 d-flex align-items-center")
									img(class="lazyload img-fluid" data-src="images/Crab-PNG-Picture 1.png" alt="img")
								div(class="col-12 col-lg-3 d-flex align-items-center py-3 py-lg-0")
									p
										| Краб камчатский
								div(class="col-12 col-lg-2 d-flex align-items-center pb-3 pb-lg-0")
									span(class="basket__price-one")
										| 719 руб.
								div(class="col-12 col-lg-2 d-flex align-items-center pb-3 pb-lg-0")
									div(class="count")
										div(class="count__minus")
											| -
										input(type="text" readonly value="1")
										div(class="count__plus")
											| +
								div(class="col-12 col-lg-2 d-flex align-items-center")
									span(class="basket__price-final")
										| 719 руб.
					div(class="d-flex justify-content-end py-5")
						span(class="basket__price-final")
							b
								| 3 376 руб.
			div(class="row")
				div(class="col-12 pb-5")
					h2(class="h2")
						| Ваши контактные данные
				div(class="col-12")
					<form class="delivery-form" action="" method="POST">
						div(class="row")
							div(class="col-12 col-lg-3 pb-5 pb-lg-0")
								<input class="input" type="text" placeholder="Ваше имя">
							div(class="col-12 col-lg-3 pb-5 pb-lg-0")
								<input class="input" type="text" placeholder="Телефон">
							div(class="col-12 col-lg-3 pb-5 pb-lg-0")
								<select class="minimal">
									<option>Доставка</option>
								</select>
							div(class="col-12 col-lg-3 pb-5 pb-lg-0")
								<input class="input" type="text" placeholder="Адрес доставки">
							div(class="col-12 pt-5 d-flex justify-content-end")
								button(type="submit" class="btn")
									| Оформить заказ
					</form>
		
