extends base.pug
block content
	- breadcrumbTitle = "Каталог продукции";
	include components/breadcrumb-area.pug
	<section class="content-section category-area">
		<div class="container-fluid">
			<div class="row justify-content-center">
				<div class="col-12 col-lg-6 col-xl-3 wow fadeIn">
					<a class="menu-pack-box" href="#">
						<figure>
							<img class="lazyload w-100" data-src="images/category1.jpg" alt="Image">
						</figure>
						<div class="content">
							<h2>КРАБЫ</h2>
						</div>
					</a>
				</div>
				
				<div class="col-12 col-lg-6 col-xl-3 wow fadeIn" data-wow-delay="0.15s">
					<a class="menu-pack-box" href="#">
						<figure>
							<img class="lazyload w-100" data-src="images/category2.jpg" alt="Image">
						</figure>
						<div class="content">
							<h2>КРЕВЕТКИ</h2>
						</div>
					</a>
				</div>
				
				<div class="col-12 col-lg-6 col-xl-3 wow fadeIn" data-wow-delay="0.30s">
					<a class="menu-pack-box" href="#">
						<figure>
							<img class="lazyload w-100" data-src="images/category3.jpg" alt="Image">
						</figure>
						<div class="content">
							<h2>ГРЕБЕШКИ</h2>
						</div>
					</a>
				</div>
				
				<div class="col-12 col-lg-6 col-xl-3 wow fadeIn" data-wow-delay="0.45s">
					<a class="menu-pack-box" href="#">
						<figure>
							<img class="lazyload w-100" data-src="images/category4.jpg" alt="Image">
						</figure>
						<div class="content">
							<h2>МИДИИ</h2>
						</div>
					</a>
				</div>
			</div>
		</div>
	</section>
	include components/offer-area.pug
	div(class="delivery-area")
		div(class="container")
			div(class="row pb-5")
				div(class="col-12 d-flex flex-column align-items-center wow fadeIn")
					span(class="area__subtitle font-script")
						| уникальное предложение
					h2(class="area__title text-center")
						| Доставка морепродуктов
					<figure data-swiper-parallax="200">
						<img class="lazyload" data-src="images/crab.png" alt="Image" class="title-shape">
					</figure>
			div(class="row")
				div(class="col-12")
					div(class="delivery-area__wrapper")
						div(class="row")
							div(class="col-12 col-lg-6  mb-3 delivery-area__block-wrapper wow fadeIn" data-wow-delay="0.15s")
								img(class="lazyload img-fluid delivery-area__image" data-src="images/gdgd 1.png" alt="img")
							div(class="col-12 col-lg-6 delivery-area__block-wrapper wow fadeIn" data-wow-delay="0.30s")
								div(class="delivery-area__block")
									p(class="rare__description")
										| Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание системы обучения кадров, соответствует насущным потребностям. Повседневная практика показывает, что укрепление и развитие структуры влечет за собой процесс внедрения и модернизации новых предложений. Разнообразный и богатый опыт рамки и место обучения кадров влечет за собой процесс внедрения и модернизации существенных финансовых и административных условий.
									p(class="rare__description")
										| Задача организации, в особенности же консультация с широким активом позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям.
									img(class="lazyload" data-src="images/lime.png" alt="img")
							
