extends base.pug
block content
	- breadcrumbTitle = "Крабы";
	include components/breadcrumb-area.pug
	div(class="category")
		div(class="container")
			div(class="row pb-5")
				div(class="col-12 col-sm-6 col-lg-3")
					label(class="category__check")
						input(type="radio" name="type" value="krab")
						span()
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<g clip-path="url(#clip0)">
									<path d="M23.9288 17.3265C23.1763 15.7819 21.6097 14.7999 19.8901 14.7974L19.6657 14.7971C19.5508 14.1597 19.2898 13.5719 18.8848 13.0537L21.0381 11.7017C21.7032 11.2842 22.1369 10.5973 22.228 9.81736C22.4083 8.27362 21.254 7.51613 21.106 7.30477L21.1263 4.55189C21.1417 2.46417 19.4646 0.761907 17.3766 0.746438C17.3719 0.746391 14.282 0.723657 14.332 0.723985C13.9399 0.723985 13.6272 1.03739 13.6245 1.42209L13.602 4.46583C13.5866 6.55359 15.2637 8.25581 17.3517 8.27128L20.1042 8.29158C20.2995 8.54784 20.921 8.88544 20.8313 9.65414C20.7899 10.0087 20.5927 10.3209 20.2904 10.5106L17.8103 12.0677C16.9673 11.4956 15.9187 11.1119 14.8322 10.878L15.3251 10.3578C15.5922 10.0759 15.5802 9.63084 15.2983 9.3638C15.0164 9.0967 14.5713 9.10875 14.3043 9.39061L13.1308 10.6292C12.3653 10.5667 11.632 10.5666 10.8686 10.6288L9.69553 9.39061C9.42849 9.10875 8.98346 9.0967 8.70155 9.3638C8.41964 9.63084 8.40764 10.0759 8.67469 10.3578L9.16692 10.8773C8.08092 11.111 7.03233 11.4949 6.18919 12.0675L3.70941 10.5106C3.40711 10.3208 3.20996 10.0086 3.16857 9.65409C3.07903 8.88741 3.7066 8.5395 3.89564 8.29153L6.64805 8.27123C8.73582 8.25581 10.4131 6.55387 10.3978 4.46578L10.3753 1.42205C10.3727 1.05272 10.0801 0.726704 9.66703 0.723938L6.62321 0.746391C4.53558 0.761907 2.85821 2.4638 2.87358 4.55189L2.89388 7.30477C2.74641 7.51538 1.59174 8.27461 1.77188 9.81731C1.86296 10.5973 2.29669 11.2841 2.96175 11.7017L5.1151 13.0536C4.71207 13.5694 4.44971 14.1563 4.33425 14.797C4.30111 14.8062 1.43719 14.5792 0.073691 17.3213C-0.099184 17.6691 0.0424722 18.0911 0.390191 18.264C0.739222 18.4376 1.16068 18.2937 1.33285 17.9475C1.86685 16.8735 2.94361 16.2053 4.14296 16.2035L4.31063 16.2033C4.35652 16.5467 4.43841 16.8983 4.55672 17.2556C2.71421 18.2768 2.19774 19.8857 2.05046 20.1079C1.87749 20.4556 2.01914 20.8777 2.36677 21.0506C2.71589 21.2244 3.1373 21.0803 3.30947 20.7343C3.46486 20.4922 3.80893 19.3333 5.1308 18.5474C5.39963 19.0315 5.71721 19.4955 6.07172 19.9308C5.36232 20.5777 4.76968 21.3595 4.34307 22.2173C4.17014 22.5651 4.31185 22.9871 4.65952 23.16C5.00874 23.3337 5.43005 23.1896 5.60218 22.8435C5.95439 22.1354 6.44471 21.4904 7.03191 20.9581C8.53046 22.3599 10.3882 23.2756 12.0001 23.2756C13.6112 23.2756 15.468 22.3607 16.9662 20.96C17.5582 21.503 18.0502 22.1595 18.4014 22.8806C18.5719 23.2305 18.9932 23.3745 19.3414 23.2048C19.6905 23.0348 19.8357 22.614 19.6657 22.2648C19.2396 21.39 18.6435 20.5931 17.9265 19.9329C18.2758 19.5043 18.5895 19.0478 18.8559 18.5716C20.1295 19.3347 20.4369 20.4547 20.6087 20.729C20.7795 21.0797 21.2012 21.2225 21.5488 21.0532C21.8979 20.8831 22.043 20.4623 21.873 20.1131C21.7148 19.8693 21.2348 18.2841 19.4343 17.2815C19.5572 16.9153 19.6424 16.555 19.6894 16.2032L19.8882 16.2035C21.0611 16.2052 22.151 16.8877 22.6647 17.9422C22.8353 18.2924 23.2566 18.436 23.6047 18.2664C23.9537 18.0965 24.0989 17.6756 23.9288 17.3265ZM15.0083 4.47623L15.0182 3.1298L16.8634 5.00241C17.1358 5.27888 17.581 5.28239 17.8577 5.00972C18.1343 4.73719 18.1376 4.29197 17.865 4.01536L16.0199 2.1428L17.3663 2.15273C18.6769 2.1623 19.7298 3.23081 19.7202 4.54158L19.7029 6.88238L17.3622 6.86512C16.0516 6.85552 14.9986 5.787 15.0083 4.47623ZM6.63366 2.15269L7.98005 2.14275L6.13491 4.01531C5.86238 4.29192 5.86561 4.73709 6.14222 5.00967C6.41878 5.28216 6.86391 5.27902 7.13658 5.00236L8.98177 3.12975L8.99171 4.47619C9.00136 5.78677 7.9486 6.85547 6.63783 6.86503L4.29708 6.88228L4.27983 4.54148C4.27017 3.23091 5.32294 2.1623 6.63366 2.15269ZM12 21.8694C9.83864 21.8694 7.30374 19.7013 6.25594 17.6705C4.25213 13.7867 7.7371 11.9885 11.9959 11.9885C16.256 11.9885 19.7488 13.7849 17.744 17.6705C16.6926 19.7084 14.1557 21.8694 12 21.8694Z" fill="white"/>
									<path d="M7.7835 15.5156C7.39584 15.5156 7.08154 15.8299 7.08154 16.2175C7.08154 16.6052 7.39579 16.9195 7.7835 16.9195C8.17115 16.9195 8.48545 16.6052 8.48545 16.2175C8.48545 15.8298 8.1712 15.5156 7.7835 15.5156Z" fill="white"/>
									<path d="M9.20922 19.0363C9.5969 19.0266 9.90332 18.7045 9.89362 18.3168C9.88393 17.9291 9.5618 17.6227 9.17412 17.6324C8.78644 17.6421 8.48002 17.9642 8.48972 18.3519C8.49941 18.7396 8.82154 19.046 9.20922 19.0363Z" fill="white"/>
								</g>
								<defs>
									<clipPath id="clip0">
										<rect width="24" height="24" fill="white"/>
									</clipPath>
								</defs>
							</svg>
							| крабы
				div(class="col-12 col-sm-6 col-lg-3")
					label(class="category__check")
						input(type="radio" name="type" value="krab 2")
						span()
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<g clip-path="url(#clip1)">
									<path d="M21.7499 0.000244141H16.1247C15.7364 0.000244141 15.4216 0.315067 15.4216 0.703393C15.4216 1.09172 15.7364 1.40654 16.1247 1.40654H21.7499C22.1915 1.40654 22.5937 1.80869 22.5937 2.25032C22.5937 2.67483 22.1994 3.04722 21.7499 3.04722C21.6034 3.04722 10.7272 3.04722 10.3121 3.04722C4.20971 3.04722 -0.531294 8.36213 0.0479595 14.3188C0.54621 19.4426 4.96044 23.5792 10.3121 23.5792H14.1977L16.8398 23.972C17.4982 24.077 18.1576 23.8803 18.655 23.4568C19.6268 22.6294 19.7341 21.1811 18.8493 20.2509C19.7176 19.3381 19.6388 17.9059 18.6798 17.0892C18.1747 16.6591 17.507 16.4723 16.8464 16.5757L14.2037 16.9227H10.8746C9.40124 16.9227 8.20261 15.724 8.20261 14.2507C8.20261 12.7774 9.40124 11.5788 10.8746 11.5788H11.6246C15.7042 11.5788 19.0643 8.44187 19.4211 4.45352H21.7499C22.9531 4.45352 24 3.48233 24 2.25032C24 1.03064 22.9696 0.000244141 21.7499 0.000244141ZM3.39715 7.76764L7.53794 11.9084C7.19949 12.3892 6.96221 12.9459 6.8572 13.5476H1.41015C1.36196 11.4656 2.06721 9.41062 3.39715 7.76764ZM10.1714 18.2681V22.1712C8.43779 22.1434 6.80282 21.6037 5.42508 20.6946L8.53234 17.5873C9.01301 17.9258 9.56976 18.1631 10.1714 18.2681ZM1.55879 14.9539H6.8572C6.96221 15.5555 7.19949 16.1123 7.53794 16.593L4.30655 19.8244C2.91643 18.5576 1.92176 16.8631 1.55879 14.9539ZM14.2497 18.329C14.3268 18.329 17.0547 17.9665 17.0596 17.9658C17.3162 17.9243 17.5744 17.9951 17.768 18.1599C18.3422 18.6488 17.9682 19.5478 17.2019 19.5478H15.7497C15.3614 19.5478 15.0466 19.8626 15.0466 20.2509C15.0466 20.6392 15.3614 20.9541 15.7497 20.9541H17.2019C17.6677 20.9541 18.0467 21.3115 18.0467 21.7508C18.0467 22.2179 17.6159 22.6623 17.0509 22.5816C14.1218 22.1461 14.3243 22.1729 14.2497 22.1729H11.5777V18.329H14.2497ZM11.6246 10.1725H10.8746C10.0036 10.1725 9.19559 10.4471 8.53229 10.914L4.36515 6.74691C5.99355 5.28033 8.11551 4.45352 10.312 4.45352H18.0084C17.6572 7.66517 14.9282 10.1725 11.6246 10.1725Z" fill="#C58F59"/>
									<path d="M14.2653 6.16591C13.9048 5.92816 13.4398 6.06649 13.2551 6.41946C12.9742 6.93236 13.4204 7.55073 14.0122 7.43997C14.6414 7.30811 14.7721 6.49933 14.2653 6.16591Z" fill="#C58F59"/>
								</g>
								<defs>
									<clipPath id="clip1">
										<rect width="24" height="24" fill="white"/>
									</clipPath>
								</defs>
							</svg>
							| креветки
				div(class="col-12 col-sm-6 col-lg-3")
					label(class="category__check")
						input(type="radio" name="type" value="krab 2")
						span()
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<g clip-path="url(#clip2)">
									<path d="M13.4139 14.8121C13.155 14.8121 12.9448 15.0442 12.9448 15.3303C12.9448 15.6163 13.155 15.8484 13.4139 15.8484C13.6727 15.8484 13.8829 15.6163 13.8829 15.3303C13.8829 15.0442 13.6728 14.8121 13.4139 14.8121Z" fill="#C58F59"/>
									<path d="M10.5994 14.8121C10.3405 14.8121 10.1304 15.0442 10.1304 15.3303C10.1304 15.6163 10.3405 15.8484 10.5994 15.8484C10.8583 15.8484 11.0684 15.6163 11.0684 15.3303C11.0684 15.0442 10.8583 14.8121 10.5994 14.8121Z" fill="#C58F59"/>
									<path d="M23.4987 8.63554C23.1208 7.91041 22.5609 7.28969 21.9024 6.85924C21.907 6.75406 21.9095 6.6495 21.9095 6.54639C21.9095 4.26433 19.9555 3.79192 18.9864 3.62848C18.9508 3.31045 18.8801 3.03044 18.7733 2.79403C18.2876 1.72095 17.3126 1.01104 16.2291 0.941443L14.1661 0.808504C13.6542 0.272401 12.9294 0 12.0066 0C11.0814 0 10.3559 0.273903 9.84543 0.812647L7.83725 0.942012C6.75345 1.01161 5.7784 1.72126 5.29292 2.79408C5.18614 3.03008 5.1154 3.3102 5.07968 3.62853C4.11087 3.79187 2.15665 4.26407 2.15665 6.54639C2.15665 6.64924 2.15913 6.75354 2.16377 6.85867C1.49922 7.29011 0.929127 7.90819 0.538095 8.62726C0.0343288 9.55363 -0.119656 10.5396 0.092782 11.4784C0.446783 13.0429 2.42519 15.2939 5.53376 17.6773V18.8593C5.53376 20.4609 6.72242 21.7642 8.18338 21.7642C9.27308 21.7642 9.8413 21.0761 10.2443 20.8322C10.4968 20.9808 10.7473 21.1256 10.9919 21.264C11.6281 21.6244 12.4064 21.6417 13.0735 21.2655C13.3026 21.1363 13.531 21.0043 13.7555 20.8716C14.1183 21.0895 14.6864 21.7642 15.7632 21.7642C17.2092 21.7642 18.3856 20.461 18.3856 18.8591V17.6809C21.7081 15.023 23.3909 12.763 23.4078 12.7401C23.4084 12.7394 23.4088 12.7386 23.4093 12.7378C23.4147 12.7305 23.4196 12.7229 23.4246 12.7152C23.4273 12.7111 23.4302 12.7071 23.4328 12.7028C23.4383 12.6939 23.4433 12.6845 23.4483 12.6752C23.45 12.672 23.4519 12.6689 23.4535 12.6657C23.4541 12.6645 23.4547 12.6635 23.4553 12.6624C23.6596 12.2958 23.8113 11.8976 23.9062 11.4784C24.116 10.5516 23.9713 9.54203 23.4987 8.63554ZM8.18342 20.7277C7.23964 20.7277 6.47187 19.8895 6.47187 18.8591V18.3753C7.36578 19.0212 8.31734 19.6557 9.31447 20.2713C9.20389 20.3347 8.83321 20.7277 8.18342 20.7277ZM17.4475 18.8591C17.4475 19.8895 16.692 20.7278 15.7632 20.7278C15.1302 20.7278 14.76 20.352 14.6806 20.3074C15.6309 19.7115 16.5566 19.0751 17.4475 18.4063V18.8591ZM22.9965 11.2268C22.9253 11.5412 22.8114 11.8396 22.6587 12.1147C20.9336 14.3751 17.2674 17.7367 12.6472 20.3425C12.2624 20.5595 11.8037 20.5593 11.4201 20.3419C9.70607 19.371 7.92894 18.2327 6.29211 16.9961C2.74938 14.32 1.23705 12.2613 1.00286 11.2268C0.720486 9.97891 1.40064 8.74238 2.30397 7.99913C2.92938 11.1069 5.32554 13.5241 7.02917 15.4418C7.20983 15.6452 7.50683 15.65 7.6925 15.4487C7.87733 15.2482 7.88014 14.9201 7.69869 14.7158C6.19301 13.0214 3.41444 10.2878 3.12049 7.10212C3.10343 6.91454 3.09476 6.72749 3.09476 6.54618C3.09476 5.35864 3.87471 4.91415 5.07814 4.68049C5.33665 7.64656 7.37197 12.022 8.28416 14.1565C8.39525 14.416 8.67514 14.5256 8.90858 14.4037C9.14281 14.2815 9.24299 13.9725 9.13236 13.7138C8.48366 12.1982 5.96107 6.8539 5.99061 4.0869C5.99417 3.73584 6.04179 3.45665 6.13203 3.25727C6.46784 2.51531 7.14214 2.02447 7.89186 1.97636L9.21299 1.89127C8.45502 4.09011 9.48411 7.76039 9.95891 10.9748C10.0006 11.2572 10.2414 11.4487 10.4973 11.4027C10.753 11.3566 10.9264 11.0903 10.8847 10.8079C10.3851 7.42537 9.19817 3.17917 10.4068 1.6602C10.7399 1.24036 11.2633 1.03621 12.0067 1.03621C12.7488 1.03621 13.2723 1.23938 13.607 1.65725C14.8179 3.16975 13.6293 7.41574 13.1286 10.8079C13.0869 11.0904 13.2605 11.3567 13.5161 11.4027C13.5417 11.4074 13.5671 11.4096 13.5922 11.4096C13.8179 11.4096 14.0171 11.2289 14.0545 10.9747C14.5295 7.75521 15.5609 4.08493 14.8016 1.88739L16.1745 1.97584C16.924 2.02406 17.5983 2.515 17.9341 3.25701C18.0245 3.45701 18.0721 3.7363 18.0757 4.08742C18.1052 6.77705 15.7209 11.8768 14.9224 13.74C14.8116 13.9986 14.9115 14.3076 15.1457 14.43C15.3798 14.5525 15.6595 14.4419 15.7703 14.1834C16.3793 12.7609 18.7147 7.83346 18.9884 4.68064C20.1917 4.91441 20.9716 5.3589 20.9716 6.54628C20.9716 6.72759 20.9629 6.9146 20.9459 7.10176C20.6589 10.2206 18.049 12.8319 16.3421 14.7447C16.1602 14.9485 16.1623 15.2765 16.3468 15.4775C16.5313 15.6785 16.8282 15.6761 17.0101 15.4724C18.5158 13.7852 21.1135 11.2227 21.7617 8.00425C22.6334 8.73906 23.2812 9.96824 22.9965 11.2268Z" fill="#C58F59"/>
								</g>
								<defs>
									<clipPath id="clip2">
										<rect width="24" height="26.5151" fill="white"/>
									</clipPath>
								</defs>
							</svg>
							| гребешки
				div(class="col-12 col-sm-6 col-lg-3")
					label(class="category__check")
						input(type="radio" name="type" value="krab 2")
						span()
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<g clip-path="url(#clip3)">
									<path d="M23.2963 14.1093H22.4105C23.4441 12.8376 23.9993 11.3825 23.9993 9.89075C23.9993 7.60297 22.7196 5.73861 20.2983 4.49928C18.2032 3.42678 15.3336 2.85992 12 2.85992C8.66649 2.85992 5.79699 3.42683 3.70172 4.49928C1.28049 5.73866 0.000751638 7.60297 0.000751638 9.89075C0.000751638 11.3825 0.555986 12.8376 1.58963 14.1093H0.70383C0.182486 14.1093 -0.158717 14.6593 0.0749548 15.1268C1.92877 18.8343 5.75625 21.1401 9.85163 21.1401H14.1485C18.2546 21.1401 22.0761 18.8249 23.9251 15.1268C24.1583 14.6605 23.8188 14.1093 23.2963 14.1093ZM1.40691 9.89075C1.40691 8.14086 2.39456 6.74806 4.34245 5.75099C6.24028 4.77955 8.8882 4.26608 12 4.26608C15.1118 4.26608 17.7598 4.77955 19.6575 5.75099C21.6055 6.74806 22.5931 8.14086 22.5931 9.89075C22.5931 11.4263 21.8578 12.8803 20.4643 14.1093H19.6437C19.747 13.8486 19.7808 13.6082 19.7808 13.4062C19.7808 12.3481 18.8834 11.4097 17.254 10.7639C15.8334 10.2009 13.9674 9.89075 12 9.89075C10.0326 9.89075 8.16661 10.2009 6.74597 10.7639C5.11655 11.4097 4.21922 12.3481 4.21922 13.4062C4.21922 13.6082 4.25302 13.8486 4.35633 14.1093H3.53574C2.14214 12.8803 1.40691 11.4263 1.40691 9.89075ZM13.0519 11.3294C14.4448 11.4153 15.7262 11.671 16.736 12.0711C17.9455 12.5505 18.3747 13.0899 18.3747 13.4061C18.3747 13.6719 18.1262 13.9308 17.9044 14.1092H14.001C14.0722 13.8801 14.1093 13.6449 14.1093 13.4061C14.1093 12.6313 13.7245 11.9128 13.0519 11.3294ZM12.7031 13.4061C12.7031 13.6429 12.6126 13.8785 12.4342 14.1092H6.09567V14.1093C5.87386 13.9308 5.62542 13.6719 5.62542 13.4062C5.62542 13.0899 6.05456 12.5506 7.26413 12.0712C8.01652 11.773 8.92017 11.5556 9.90778 11.4282C11.5333 11.7373 12.7031 12.5606 12.7031 13.4061ZM14.1485 19.7339H9.85158C6.66535 19.7339 3.66928 18.1101 1.92581 15.5154C2.72255 15.5154 5.08397 15.5154 5.85417 15.5154C5.8546 15.5154 5.85502 15.5154 5.85544 15.5154H5.89397L7.10583 17.9391C7.2796 18.2865 7.70194 18.4271 8.04914 18.2535C8.39649 18.0799 8.5372 17.6576 8.36358 17.3102L7.46616 15.5154H11.297V17.6246C11.297 18.0129 11.6118 18.3277 12 18.3277C12.3883 18.3277 12.7031 18.0129 12.7031 17.6247V15.5154H16.534L15.6366 17.3103C15.4629 17.6577 15.6037 18.08 15.951 18.2536C16.2983 18.4273 16.7206 18.2865 16.8943 17.9392L18.1061 15.5155H18.1366C18.137 15.5155 18.1373 15.5156 18.1378 15.5156C18.1384 15.5156 18.139 15.5155 18.1396 15.5155C18.8498 15.5155 21.2629 15.5155 22.0742 15.5155C20.3308 18.1101 17.3347 19.7339 14.1485 19.7339Z" fill="#C58F59"/>
								</g>
								<defs>
									<clipPath id="clip3">
										<rect width="24" height="24" fill="white"/>
									</clipPath>
								</defs>
							</svg>
							| мидии
			div(class="row")
				- for (var i = 0; i < 10; i++)
					div(class="col-12 col-sm-6 col-lg-3 mb-5")
						div(class="category__item")
							div(class="category__preview d-flex align-items-center justify-conetn-center")
								img(class="lazyload" data-src="images/crab 3.png" alt="img")
							div(class="category__content")
								span(class="category__title")
									| Краб Дальневосточный
								ul
									li 
										| 150 гр. /уп
								div(class="d-flex justify-content-center")
									a(href="#" class="btn")
										| В корзину
			div(class="row")
				div(class="col-12 d-flex justify-content-center")
					<nav aria-label="Page navigation example">
						<ul class="pagination">
							<li class="page-item">
								<a class="page-link" href="#" aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
									<span class="sr-only">Previous</span>
								</a>
							</li>
							<li class="page-item active"><a class="page-link" href="#">1</a></li>
							<li class="page-item"><a class="page-link" href="#">2</a></li>
							<li class="page-item"><a class="page-link" href="#">3</a></li>
							<li class="page-item">
								<a class="page-link" href="#" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
									<span class="sr-only">Next</span>
								</a>
							</li>
						</ul>
					</nav>
	include components/offer-area.pug
	div(class="delivery-area")
		div(class="container")
			div(class="row pb-5")
				div(class="col-12 d-flex flex-column align-items-center wow fadeIn")
					span(class="area__subtitle font-script")
						| уникальное предложение
					h2(class="area__title text-center")
						| Доставка крабов до вашего стола
					<figure data-swiper-parallax="200">
						<img class="lazyload" data-src="images/crab.png" alt="Image" class="title-shape">
					</figure>
			div(class="row")
				div(class="col-12")
					div(class="delivery-area__wrapper")
						div(class="row")
							div(class="col-12 col-lg-6  mb-3 delivery-area__block-wrapper wow fadeIn" data-wow-delay="0.15s")
								img(class="lazyload img-fluid delivery-area__image" data-src="images/Crab-PNG-Picture 1.png" alt="img")
							div(class="col-12 col-lg-6 delivery-area__block-wrapper wow fadeIn" data-wow-delay="0.30s")
								div(class="delivery-area__block")
									p(class="rare__description")
										| Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание системы обучения кадров, соответствует насущным потребностям. Повседневная практика показывает, что укрепление и развитие структуры влечет за собой процесс внедрения и модернизации новых предложений. Разнообразный и богатый опыт рамки и место обучения кадров влечет за собой процесс внедрения и модернизации существенных финансовых и административных условий.
									p(class="rare__description")
										| Задача организации, в особенности же консультация с широким активом позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям.
									img(class="lazyload" data-src="images/lime.png" alt="img")
