extends base.pug
block content
	- breadcrumbTitle = "Контакты";
	include components/breadcrumb-area.pug
	div(class="contacts")
		div(class="container")
			div(class="row")
				div(class="col-12 pb-5 d-flex flex-column align-items-center justify-content-center")
					h2(class="h2 mb-4")
						| Центральный офис
					p(class="mb-4")
						| 454000, г. Санкт-Петербург
					a(href="tel:+74951234567" class="h2	")
						| +7 (495) 123-45-67
				div(class="col-12 pt-5")
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d255807.82677608312!2d29.814501417003747!3d59.94046099356573!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696378cc74a65ed%3A0x6dc7673fab848eff!2z0KHQsNC90LrRgi3Qn9C10YLQtdGA0LHRg9GA0LM!5e0!3m2!1sru!2sru!4v1595980637026!5m2!1sru!2sru" width="100%" height="415" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
