extends base.pug
block content
	<div class="slider">
		<div class="main-slider">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="slide-inner bg-image" data-background="images/slide01.jpg">
						<div class="container">
							<figure data-swiper-parallax="200">
								<img class="lazyload" data-src="images/crab.png" alt="Image" class="title-shape">
							</figure>
							<span class="main-slider__subtitle" data-swiper-parallax="100">Морские деликатесы</span>
							<h1 class="main-slider__title" data-swiper-parallax="200">Уникальные морские продукты</h1>
							<a class="btn-slider" href="#" data-swiper-parallax="200"><span>в каталог</span></a>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="slide-inner bg-image" data-background="images/slide01.jpg">
						<div class="container">
						<figure data-swiper-parallax="200">
							<img class="lazyload" data-src="images/crab.png" alt="Image" class="title-shape">
						</figure>
						<span class="main-slider__subtitle" data-swiper-parallax="100">Морские деликатесы</span>
						<h2 class="main-slider__title" data-swiper-parallax="200">Уникальные морские продукты</h2>
						<a class="btn-slider" href="#" data-swiper-parallax="200"><span>в каталог</span></a> </div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="slide-inner bg-image" data-background="images/slide01.jpg">
						<div class="container">
						<figure data-swiper-parallax="200">
							<img class="lazyload" data-src="images/crab.png" alt="Image" class="title-shape">
						</figure>
						<span class="main-slider__subtitle" data-swiper-parallax="100">Морские деликатесы</span>
						<h2 class="main-slider__title" data-swiper-parallax="200">Уникальные морские продукты</h2>
						<a class="btn-slider" href="#" data-swiper-parallax="200"><span>в каталог</span></a> </div>
					</div>
				</div>
			</div>
			<div class="button-prev"><i class="lni lni-arrow-left"></i></div>
			<div class="button-next"><i class="lni lni-arrow-right"></i></div>
			<div class="bottom-bar">
				<div class="social-media"> <span></span>
					include components/social-area.pug
				</div>
			</div>
		</div>
	</div>
	include components/rare-area.pug
	include components/category-area.pug
	include components/offer-area.pug
	include components/week-area.pug
