extends base.pug
block content
	- breadcrumbTitle = "Живой камчатский краб";
	include components/breadcrumb-area.pug
	div(class="card-item")
		div(class="container")
			div(class="row pb-5")
				div(class="col-12 col-lg-8 pb-5 pb-lg-0")
					div(class="row")
						div(class="col-12 col-lg-6 pb-5 pb-lg-0")
							img(class="lazyload" data-src="images/Crab-PNG-Picture 1.png" alt="img")
						div(class="col-12 col-lg-6")
							div(class="card-item__description")
								h1()
									| Живой камчатский краб
								ul()
									li()
										| Вес: 2-3 кг.
									li()
										| Вылов: 2020 г.
								p
									b
										| Цена за 1 кг.
								span(class="card-item__price ")
									| 4 490 ₽
								div(class="d-flex flex-column flex-lg-row align-item-center pt-4 pt-lg-0")
									div(class="count mb-4 mb-lg-0")
										div(class="count__minus")
											| -
										input(type="text" readonly value="1")
										div(class="count__plus")
											| +
									a(href="#" class="btn ml-lg-5")
										| В корзину
				div(class="col-12 col-lg-4")
					div(class="card-item__sidbar")
						div(class="d-flex align-items-start mb-4")
							img(class="lazyload mr-3" data-src="images/pay 1.png" alt="img")
							div()
								p(class="mb-2")
									b
										| Оплата
								p
									| Доступны все способы оплаты: наличные, карта, онлайн
						div(class="d-flex align-items-start mb-4")
							img(class="lazyload mr-3" data-src="images/delivery 1.png" alt="img")
							div()
								p(class="mb-2")
									b
										| Доставка
								p
									| Заказы сделанные до 15:00 доставим сегодня. После 15:00 - доставим завтра!
						div(class="d-flex align-items-start")
							img(class="lazyload mr-3" data-src="images/money 1.png" alt="img")
							div()
								p(class="mb-2")
									b
										| Выгодно
								p
									| Лучшее сочетание цена / качество / скорость доставки на рынке
			div(class="row pb-5")
				div(class="col-12 col-lg-8 pb-5 pb-lg-0")
					<ul class="nav nav-tabs" id="cardTab" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="cardTab-description-tab" data-toggle="tab" href="#cardTab-description" role="tab" aria-controls="cardTab-description" aria-selected="true">Описание</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="cardTab-more-tab" data-toggle="tab" href="#cardTab-more" role="tab" aria-controls="cardTab-more" aria-selected="false">Детали</a>
						</li>
					</ul>
					<div class="tab-content pt-3" id="cardTabContent">
						<div class="tab-pane fade show active" id="cardTab-description" role="tabpanel" aria-labelledby="cardTab-description-tab">
							p
								| Мясо камчатского краба содержит около 80 % влаги; примерно 13- 27 % необходимых организму белков, которые улучшают обмен веществ в организме; 0,3 — 0,8 % липидов; 1,5 — 2,0 % аминокислот и около 0,5% гликогена, который помогает сохранять глюкозу в организме, а значит поддерживать хорошее эмоциональное состояние.

							p
								| Мясо камчатского краба содержит около 80 % влаги; примерно 13- 27 % необходимых организму белков, которые улучшают обмен веществ в организме; 0,3 — 0,8 % липидов; 1,5 — 2,0 % аминокислот и около 0,5% гликогена, который помогает сохранять глюкозу в организме, а значит поддерживать хорошее эмоциональное состояние.
								
							p
								| Мясо камчатского краба содержит около 80 % влаги; примерно 13- 27 % необходимых организму белков, которые улучшают обмен веществ в организме; 0,3 — 0,8 % липидов; 1,5 — 2,0 % аминокислот и около 0,5% гликогена, который помогает сохранять глюкозу в организме, а значит поддерживать хорошее эмоциональное состояние.
						</div>
						<div class="tab-pane fade" id="cardTab-more" role="tabpanel" aria-labelledby="cardTab-more-tab">
							p
								| Мясо камчатского краба содержит около 80 % влаги; примерно 13- 27 % необходимых организму белков, которые улучшают обмен веществ в организме; 0,3 — 0,8 % липидов; 1,5 — 2,0 % аминокислот и около 0,5% гликогена, который помогает сохранять глюкозу в организме, а значит поддерживать хорошее эмоциональное состояние.
						</div>
					</div>
				div(class="col-12 col-lg-4")
					h2(class="mb-4 week-area__item-title" )
						| Рецепты с данным продуктом
					a(class="week-area__item wow fadeIn" data-wow-delay="0s" href="#")
						div(class="week-area__preview")
							img(class="lazyload" data-src="images/week1.jpg" alt="img")
						span(class="week-area__date")
							| 17 июля 2020
						p
							| Мидии в сливочном соусе по аджарски с добавлением красного соуса
			div(class="row pb-5")
				div(class="col-12")
					h2(class="h2")
						| Смотрите также
			div(class="row pb-5")
				- for (var i = 0; i < 4; i++)
					div(class="col-12 col-sm-6 col-lg-3 mb-5")
						div(class="category__item")
							div(class="category__preview d-flex align-items-center justify-conetn-center")
								img(class="lazyload" data-src="images/crab 3.png" alt="img")
							div(class="category__content")
								span(class="category__title")
									| Краб Дальневосточный
								ul
									li 
										| 150 гр. /уп
								div(class="d-flex justify-content-center")
									a(href="#" class="btn")
										| В корзину
					
