.delivery-area {
	padding: 60px 0px 400px 0px;

	@media(max-width: 991px) {
		padding: 50px 0px;
	}

	.delivery-area__wrapper{
		background: linear-gradient(0.25turn, transparent 10%, #F0E8D9 10%, #F0E8D9 70%, transparent 70%);
		height: 500px;
		@media (max-width: 991px) {
			height: unset;
			padding: 40px 0px;
		}
	}

	.delivery-area__block {
		padding: 25px 38px 140px 38px;
		background: #fff;
		position: relative;
		box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
		img {
			position: absolute;
			bottom: 0px;
			left: 0px;
			transform: translate(-50%, 0);
		}
		@media(max-width: 991px) {
			padding: 25px 38px;
			img {
				display: none;
			}
		}
	}
	.delivery-area__block-wrapper {
		margin-top: 100px;
		margin-bottom: -100px;
		@media(max-width: 991px) {
			margin-top: 0px;
			margin-bottom: 0px;
		}
	}
	.delivery-area__image {
		margin-bottom: -100px;
		@media(max-width: 991px) {
			margin-bottom: 0px;

		}
	}

}
