.week-area {
	padding: 100px 0 200px 0px;
	@media (max-width: 991px) {
		padding: 50px 0px;
	}
}

.week-area__item {
	display: flex;
	flex-direction: column;
	background: #FFFFFF;
	height: 100%;
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);

	p {
		padding: 0px 17px;
	}
	&:hover {
		text-decoration: none;
	}
}
.week-area__preview {
	margin-bottom: 28px;
	img {
		width: 100%;
	}
}
.week-area__date {
	font-family: "Honey ScriptCYR";
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 27px;

	color: #000000;

	display: block;
	margin: 0px;
	padding: 0 17px 12px 17px;
}
