/* INCLUD SASS */
@import "node_modules/bootstrap/scss/bootstrap.scss";

@import "template/lineicons.css";
@import "template/animate.min.css";
@import "template/datepicker.min.css";
@import "template/swiper.min.css";
@import "template/style.css";

@import "default/_default";
@import "header/_header";
@import "button/_button";
@import "form/_form";
@import "modalWindow/_modal";
@import "footer/_footer";

@import "rare/_rare";
@import "category/_category";
@import "offer/_offer";
@import "week/_week";
@import "breadcrumb/_breadcrumb";
@import "delivery/_delivery";
@import "card/_card-item";
@import "basket/_basket";
@import "contacts/_contacts";



.social {
	display: flex;
	align-items: center;

}
.social__item {
	padding: 5px;
	margin-right: 5px;
	transition: 0.3s;
	width: 34px;
	heighT: 34px;

	border-radius: 10px;

	display: flex;
	align-items: center;
	justify-content: center;
	svg {
		width: 24px;
		path {
			transition: 0.3s;
		}
	}
	&:last-child {
		margin: 0px;
	}
	&:hover {
		background-color: #212529;
		transition: 0.3s;
		svg {
			path {
				fill: #c58f59;
				transition: 0.3s;
			}
		}
	}
}


.slider {
	height: calc(100vh - 101px);
}
.main-slider {
	height: 100vh;
}
.main-slider__title {
	font-family: "Gilroy";
	font-style: normal;
	font-weight: bold;
	font-size: 64px;
	line-height: 77px;
	color: #FFFFFF;
	@media (max-width: 991px) {
		font-size: 28px;
		line-height: 34px;
	}
}
.main-slider__subtitle {
	font-family: "Honey ScriptCYR";
	font-style: normal;
	font-weight: 300;
	font-size: 36px;
	line-height: 41px;
	color: #C58F59;
	@media (max-width: 991px) {
		font-size: 22px;
		line-height: 28px;
	}
}
