.category {
	padding: 0 0 200px 0px;
	@media (min-width: 992px) and (max-width: 1450px) {
		padding: 0 0 100px 0px;
	}
	@media (max-width: 991px) {
		padding: 0 0 50px 0px;
	}
}
.category__item {
	background: #FFFFFF;
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
	height: 100%;
	padding: 20px;
}
.category__preview {
	padding-bottom: 20px;
	img {
		max-width: 100%;
		margin: 0 auto;
	}
}
.category__title {
	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #000000;

	display: block;
	margin-bottom: 25px;
}
.category__content {
	ul {
		padding: 0px;
		margin: 0px 0px 25px 0px;
		li {
			list-style: none;
		}
	}
}
.category-area {
	padding: 60px 0 180px 0px;
	@media (max-width: 991px) {
		padding: 50px 0px;
	}
	.menu-pack-box {
		figure {
			padding: unset;
		}
		.content {
			max-height: unset;
			h2 {
				font-family: Gilroy;
				font-style: normal;
				font-weight: 300;
				font-size: 48px;
				line-height: 100%;
				color: $mainColor;
				margin: 0px;
				@media (min-width: 992px) and (max-width: 1600px) {
					font-size: 32px;
					line-height: 48px;
				}
			}
			li {
				font-family: Gilroy;
				font-style: normal;
				font-weight: 400;
				font-size: 18px;
				line-height: 24px;
				@media (min-width: 992px) and (max-width: 1600px) {
					font-size: 16px;
					line-height: 22px;
				}
			}
			p {
				font-family: Gilroy;
				font-style: normal;
				font-weight: 400;
				font-size: 18px;
				line-height: 24px;
				@media (min-width: 992px) and (max-width: 1600px) {
					font-size: 16px;
					line-height: 22px;
				}
			}
		}
		@media (min-width: 992px) and (max-width: 1200px) {
			margin-top: 10px;
		}
		&:hover {
			h2 {
				color: $mainColor;
			}
			li {
				color: #131313;
			}
			p {
				color: #969595;
				span {
					color: $mainColor;
				}
			}
		}
	}
}

.pagination {
	.page-item {
		.page-link {
			width: 60px;
			padding: 10px;
			height: unset;
			line-height: unset;

			font-size: 18px;
			line-height: 24px;

			display: flex;
			align-items: center;
			justify-content: center;
		}
		&.active {
			.page-link {
				background: $mainColor;
				border: 1px solid $mainColor;
			}
		}
	}
}
