.basket {
	padding: 20px 0px 140px 0px;

	@media (max-width: 991px) {
		padding: 10px 0 50px 0px;
	}
}
.basket__item {
	padding: 13px 0px;
	border-bottom: 1px solid #E2FDFF;
}
.basket__price-one, .basket__price-final {
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #000000;
}
.basket__delete {
	width: 28px;
	height: 28px;
	background: #FFFFFF;
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);

	border-radius: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	cursor: pointer;

	transition: 0.3s;
	svg {
		line {
			transition: 0.3s;
			fill: $mainColor;
		}
	}
	&:hover {
		background-color: $mainColor;
		transition: 0.3s;
		svg {
			line {
				stroke: #fff;
				transition: 0.3s;
			}
		}
	}
}

.basket__section {
	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	color: #5E5E5E;
}
