.logo {
	a {
		font-family: "Honey ScriptCYR";
		font-style: normal;
		font-weight: 300;
		font-size: 36px;
		line-height: 41px;
		color: #FFFFFF;
	}
	@media (min-width: 992px) and (max-width: 1450px) {
		margin-right: 10px!important;
	}
}

.navbar {
	padding: 30px 80px 30px 130px;
	position: fixed;
	.site-menu {
		ul {
			li {
				a {
					font-family: Gilroy;
					font-style: normal;
					font-weight: normal;
					font-size: 18px;
					line-height: 21px;
					color: #FFFFFF;

					@media (min-width: 992px) and (max-width: 1450px) {
						font-size: 14px;
						line-height: 18px;
					}
				}
			}
		}
	}
	.custom-menu {
		@media (min-width: 992px) and (max-width: 1450px) {
			margin: 0 10px;
		}
	}
	@media (max-width: 1450px) {
		padding: 20px 20px;
	}
}
.phone {
	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;

	border-bottom: 3px solid transparent;
	transition: 0.3s;
	&:hover {
		color: #fff;
		text-decoration: none;
		border-bottom: 3px solid #C58F59;
		transition: 0.3s;
	}
}

.search {
	@media (min-width: 992px) and (max-width: 1450px) {
		font-size: 14px!important;
		line-height: 18px!important;
	}
}

.hamburger {
	@media (min-width: 992px) and (max-width: 1450px) {
		width: 28px;
		height: 14px;
		margin-left: 10px!important;
	}
}
.hamburger #hamburger span:nth-child(1) {
	@media (min-width: 992px) and (max-width: 1450px) {
		top: 0px;
	}
}
.hamburger #hamburger span:nth-child(2) {
	@media (min-width: 992px) and (max-width: 1450px) {
		top: 6px;
	}
}
.hamburger #hamburger span:nth-child(3) {
	@media (min-width: 992px) and (max-width: 1450px) {
		top: 12px;
	}
}

.cart-mini {
	@media (min-width: 992px) and (max-width: 1450px) {
		width: 20px;
		margin-left: 10px!important;
		img {
			height: 22px!important;
		}
	}
}
